/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #007bff, #0056b3);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
}
header .logo img {
    height: 60px;

   
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo img {
  max-width: 150px;
  border-radius: 10px;
}

.logo h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

header nav ul li {
    padding: 5px 10px; /* Ensure uniform padding around the links */
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

header nav ul li a:hover, header nav ul li a.active {
    color: #ffcc00;
    text-decoration: underline;
}

main {
    padding: 40px 20px;
}

.button-container {
  text-align: center;
  margin: 40px 0;
}

.btn-primary {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  margin: 0 20px;
}

.btn-primary:hover {
  background: #0056b3;
}

.button-logo {
  width: 25px;
  margin-right: 10px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}